body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    /* justify-content: space-between; */
}

.circulo{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
}