*{  
    padding: 0;
    line-height: 1;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



/* Circulo */
.avatar{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid transparent;

    /* background: red url(../img/chica.webp); */
    background-image: url(../img/chica.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* figcaption */
.avatar__nombre{
    text-align: center;
}